/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    user-select: none;
    font-family: SF Pro Display;
    border: 1px dotted #000;
} */
.nav{
    width: 100%;
    height: auto;
    display: flex;
    border-bottom: 1px dotted #000;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 1);
    /* border: 1px dotted #000; */
}
.left-sidebar-open-button, .right-sidebar-open-button, .message-box, .connection-status{
    display: flex;
    flex-shrink: 0;
}
.app-title{
    width: 100%;
    min-width: 100px; /* or any suitable value */
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin: 0 16px;
    white-space: nowrap; /* Prevents the text from wrapping */
}
.nav img{
    width: 32px;
    flex-shrink: 0;
    flex-grow: 0;
    /* border: 1px solid #000; */
}
.message-box{
    padding-right: 8px;
    cursor: pointer;
    /* border: 1px solid #000; */
}
.connection-status{
    padding-right: 8px;
    cursor: pointer;
    /* border: 1px solid #000; */
}
.left-sidebar-open-button,
.right-sidebar-open-button,
.app-title,
.set-angle,
.connection-status,
.message-box {
    flex-grow: 0;
}

/* ==================================== */
.marker{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #256ad1;
    position: relative;
    top: 0;
    left: 32px;
    visibility: hidden;
    border: 2px solid #fff;
}
.connection-status .marker{
    visibility: visible;
}
.message-box .marker{
    visibility: hidden;
}
.left-sidebar-open-button .marker{
    visibility: hidden;
}


/* ==================================== */
